<html>
    <head>
      <title>
          <%= title %>
      </title>
      <link rel="stylesheet" href="/css/home.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>

       <!-- Form start -->
       <form action="/users/add-task" method="POST">
           <fieldset class="headerTodo">
               <p>My Todo List</p>
           </fieldset>
           <fieldset >
               <div class="inputContainer">
                <div>
                    <label for="topic">Add Task</label>
                    <input type="text" name="taskTopic" placeholder="Add task topic..." id="topic" required>
                   </div>
    
                   <div>
                    <label for="category">Category</label>
                    <select name="category" id="category" required>
                        <option value="" disabled selected>Choose a category</option>   
                     <option value="Personal">Personal</option>
                     <option value="School">School</option>
                     <option value="Work">Work</option>
                     <option value="HouseHold">HouseHold</option>
                     </select>
                   </div>  
               </div>
               
           </fieldset> 
           <fieldset>

            <div class="inputContainer">
                <div>
                    <label for="description">Description</label>
                    <textarea type="text" name="description" cols="25" rows="3" placeholder="Add description..." id="description"></textarea>
                   </div>
    
                   <div>
                    
                   <label for="date">Due Date</label>
                    <input type="date" name="date" id="date" required>
                   </div>  
            </div>
           


              
           </fieldset>
           <fieldset>
               <button type="Submit">Add Task</button>
           </fieldset>
          <!-- Display all task -->
           <fieldset class="displayTask">
               <% var completedTask =0;
               var remainingTask =0 
               const todaysDate = new Date()%>
               <table>

                <% for (let i of todolist){%>   

                    <tr>
                        <!-- Taks heading and date -->
                        <td colspan="3" >
                     
                          <div class="task-container">
                            <% if(i.status){ %>
                                <h3 class="headingDesign markComplete"><%= i.task %></h3>
                                <% completedTask++ %>
                            <% } else{ %>
                                <h3 class="headingDesign"><%= i.task %></h3>
                                <% remainingTask++ %>
                            <% } %>  
                            
                            <p class="dateDesign">Added on: <span>  <%= i.createdAt.toDateString() %> </span></p>
                            <p class="dateDesign">Due date: <span> <%= i.dateOfCompletion.toDateString()%> </span></p>
                            <% if(i.dateOfCompletion.toDateString() === todaysDate.toDateString() && !i.status){ %>
                                <p class="warning"> Hurry up!!! Deadline approaching!</p>     
                            <% } else if(i.dateOfCompletion < todaysDate && !i.status){ %>
                                <p class="warning"> Deadline crossed!!! </p>
                            <% } %>  
                          </div>  
                          
                        </td>

                        <!-- Show category -->
                        <td >
                            <% if(i.category==="Personal"){ %>
                                <div class="category colorDivRed">
                                    <p>
                                        <%= i.category %>
                                    </p>
                                </div>
                            <% } else if(i.category==="Work"){ %>
                                <div class="category colorDivGreen">
                                    <p>
                                        <%= i.category %>
                                    </p>
                                </div>
                             <% } else if(i.category==="HouseHold"){ %>
                                    <div class="category colorDivViolet">
                                        <p>
                                            <%= i.category %>
                                        </p>
                                    </div>
                            <% } else if(i.category==="School"){ %>
                                <div class="category colorDivBlue">
                                 <p>
                                      <%= i.category %>
                                </p>
                                </div>
                           <% } %>    
                        </td>
                        <!-- Show description -->
                        <td>
                            <div>
                                <i class="fas fa-info-circle tooltip" >
                                    <span class="tooltiptext"> <%= i.description %> </span> 
                                </i>         
                            </div>
                           
                        </td>
                        <!-- Show status of completion -->
                        <td>
                            <% if(i.status){ %>
                                <a href="/users/mark-incomplete/?id=<%= i._id %>" title="Mark Incomplete"><i class="far fa-times-circle"></i></a>
                            <% } else{ %>
                                <a href="/users/mark-complete/?id=<%= i._id %>" title="Mark Complete" ><i class="fas fa-check-circle"></i></a>
                            <% } %>                   
                          
                        </td>
                        <td>
                        <a href="/users/delete-task/?id=<%= i._id %>" title="Detete task"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                
                <% } %>
               </table>
           </fieldset>
           <!-- Footer showing cumulation information -->
           <fieldset class="footerStyle">
                <div id="info-container">
                    <div><p>Total Task: <%= todolist.length %></p></div> 
                    <div><p> Completed: <%= completedTask %>  </p></div>
                    <div><p>Remaining: <%= remainingTask %>  </p>  </div>
                </div>
           </fieldset>
        </form>
    </body>
   
</html>